In [1]:
pip install pyspark

Requirement already satisfied: pyspark in c:\users\anonymous\anaconda3\lib\site-packages (3.4.0)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\anonymous\anaconda3\lib\site-packages (from pyspark) (0.10.9.7)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pyspark

In [2]:
#create a spark variable 
#The SparkSession is the entry point for interacting with Spark functionalities, including reading and processing data,
# ---------- executing SQL queries, and performing distributed computations.
# imports the SparkSession class from the pyspark.sql module. SparkSession is the entry point for interacting with Spark SQL and DataFrame APIs
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [3]:
spark #start spark session

In [4]:
import pandas as pd
pd.read_csv("DummyData.csv")

,ID Number,Date,Product,Region,Sales Method,Price per unit,Cost per unit
0,10010,01-01-2022,iphone,EMEA,In-store,"1,099",289
1,10011,01-01-2022,iphone,North America,Third Party,"1,099",289
2,10012,01-01-2022,macbook,APAC,Online Store,"1,299",459
3,10013,01-01-2022,ipad,South America,Referral,599,299
4,10014,01-01-2022,iwatch,South America,Online Store,449,159
5,10015,01-01-2022,airpod,South America,Online Store,199,39
6,10016,04-01-2022,airpod,South America,In-store,199,39
7,10017,07-01-2022,airpod,EMEA,Online Store,199,39
8,10018,10-01-2022,iphone,North America,Online Store,1099,289
9,10019,13-01-2022,macbook,APAC,In-store,"1,299",459
10,10020,16-01-2022,macbook,APAC,In-store,"1,299",459
11,10021,19-01-2022,airpod,APAC,In-store,199,39
12,10022,22-01-2022,iphone,EMEA,In-store,1099,289
13,10023,25-01-2022,iwatch,North America,In-store,449,159
14,10024,04-02-2022,ipad,APAC,In-store,599,299
15,10025,05-02-2022,iwatch,APAC,Referral,449,159
16,10026,06-02-2022,iphone,APAC,Referral,1099,289
17,10027,07-02-2022,iwatch,EMEA,Third Party,449,159
18,10028,08-02-2022,iphone,APAC,Referral,1099,289
19,10029,08-02-2022,macbook,APAC,Referral,"1,299",459
20,10030,08-02-2022,iphone,APAC,Online Store,1099,289

In [5]:
df_pyspark = spark.read.csv("DummyData.csv")

In [6]:
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string]

In [7]:
#if you want to see entire data set
df_pyspark.show()

+---------+----------+-------+-------------+------------+--------------+-------------+
|      _c0|       _c1|    _c2|          _c3|         _c4|           _c5|          _c6|
+---------+----------+-------+-------------+------------+--------------+-------------+
|ID Number|      Date|Product|       Region|Sales Method|Price per unit|Cost per unit|
|    10010|01-01-2022| iphone|         EMEA|    In-store|         1,099|          289|
|    10011|01-01-2022| iphone|North America| Third Party|         1,099|          289|
|    10012|01-01-2022|macbook|         APAC|Online Store|         1,299|          459|
|    10013|01-01-2022|   ipad|South America|    Referral|           599|          299|
|    10014|01-01-2022| iwatch|South America|Online Store|           449|          159|
|    10015|01-01-2022| airpod|South America|Online Store|           199|           39|
|    10016|04-01-2022| airpod|South America|    In-store|           199|           39|
|    10017|07-01-2022| airpod|         EMEA|Online Store|           199|           39|
|    10018|10-01-2022| iphone|North America|Online Store|          1099|          289|
|    10019|13-01-2022|macbook|         APAC|    In-store|         1,299|          459|
|    10020|16-01-2022|macbook|         APAC|    In-store|         1,299|          459|
|    10021|19-01-2022| airpod|         APAC|    In-store|           199|           39|
|    10022|22-01-2022| iphone|         EMEA|    In-store|          1099|          289|
|    10023|25-01-2022| iwatch|North America|    In-store|           449|          159|
|    10024|04-02-2022|   ipad|         APAC|    In-store|           599|          299|
|    10025|05-02-2022| iwatch|         APAC|    Referral|           449|          159|
|    10026|06-02-2022| iphone|         APAC|    Referral|          1099|          289|
|    10027|07-02-2022| iwatch|         EMEA| Third Party|           449|          159|
|    10028|08-02-2022| iphone|         APAC|    Referral|          1099|          289|
+---------+----------+-------+-------------+------------+--------------+-------------+
only showing top 20 rows

In [8]:
#want to change header
df_pyspark = spark.read.option('header','true').csv("DummyData.csv")
df_pyspark

DataFrame[ID Number: string, Date: string, Product: string, Region: string, Sales Method: string, Price per unit: string, Cost per unit: string]

In [10]:
df_pyspark.show()

+---------+----------+-------+-------------+------------+--------------+-------------+
|ID Number|      Date|Product|       Region|Sales Method|Price per unit|Cost per unit|
+---------+----------+-------+-------------+------------+--------------+-------------+
|    10010|01-01-2022| iphone|         EMEA|    In-store|         1,099|          289|
|    10011|01-01-2022| iphone|North America| Third Party|         1,099|          289|
|    10012|01-01-2022|macbook|         APAC|Online Store|         1,299|          459|
|    10013|01-01-2022|   ipad|South America|    Referral|           599|          299|
|    10014|01-01-2022| iwatch|South America|Online Store|           449|          159|
|    10015|01-01-2022| airpod|South America|Online Store|           199|           39|
|    10016|04-01-2022| airpod|South America|    In-store|           199|           39|
|    10017|07-01-2022| airpod|         EMEA|Online Store|           199|           39|
|    10018|10-01-2022| iphone|North America|Online Store|          1099|          289|
|    10019|13-01-2022|macbook|         APAC|    In-store|         1,299|          459|
|    10020|16-01-2022|macbook|         APAC|    In-store|         1,299|          459|
|    10021|19-01-2022| airpod|         APAC|    In-store|           199|           39|
|    10022|22-01-2022| iphone|         EMEA|    In-store|          1099|          289|
|    10023|25-01-2022| iwatch|North America|    In-store|           449|          159|
|    10024|04-02-2022|   ipad|         APAC|    In-store|           599|          299|
|    10025|05-02-2022| iwatch|         APAC|    Referral|           449|          159|
|    10026|06-02-2022| iphone|         APAC|    Referral|          1099|          289|
|    10027|07-02-2022| iwatch|         EMEA| Third Party|           449|          159|
|    10028|08-02-2022| iphone|         APAC|    Referral|          1099|          289|
|    10029|08-02-2022|macbook|         APAC|    Referral|         1,299|          459|
+---------+----------+-------+-------------+------------+--------------+-------------+
only showing top 20 rows

In [11]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [12]:
df_pyspark.head(5)

[Row(ID Number='10010', Date='01-01-2022', Product='iphone', Region='EMEA', Sales Method='In-store', Price per unit='1,099', Cost per unit='289'),
 Row(ID Number='10011', Date='01-01-2022', Product='iphone', Region='North America', Sales Method='Third Party', Price per unit='1,099', Cost per unit='289'),
 Row(ID Number='10012', Date='01-01-2022', Product='macbook', Region='APAC', Sales Method='Online Store', Price per unit='1,299', Cost per unit='459'),
 Row(ID Number='10013', Date='01-01-2022', Product='ipad', Region='South America', Sales Method='Referral', Price per unit='599', Cost per unit='299'),
 Row(ID Number='10014', Date='01-01-2022', Product='iwatch', Region='South America', Sales Method='Online Store', Price per unit='449', Cost per unit='159')]

In [13]:
# if we want to know more details
df_pyspark.printSchema()

root
 |-- ID Number: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Product: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Sales Method: string (nullable = true)
 |-- Price per unit: string (nullable = true)
 |-- Cost per unit: string (nullable = true)

In [ ]:
# pyspark DataFrame
# Reading Dataset
#Checking the datatypes of the column 
#selecting columns and indexing 
# check describe options similar to pandas
# adding columns 
# dropping columns

In [22]:
# by default it is showing String as a type of every column
# we need to give one option inferSchema = True
df_pyspark = spark.read.option('header','true').csv("DummyData.csv",inferSchema = True)
df_pyspark

DataFrame[ID Number: int, Date: string, Product: string, Region: string, Sales Method: string, Price per unit: string, Cost per unit: int]

In [14]:
df_pyspark = spark.read.csv("DummyData.csv",header = True,inferSchema=True)
df_pyspark.show()

+---------+----------+-------+-------------+------------+--------------+-------------+
|ID Number|      Date|Product|       Region|Sales Method|Price per unit|Cost per unit|
+---------+----------+-------+-------------+------------+--------------+-------------+
|    10010|01-01-2022| iphone|         EMEA|    In-store|         1,099|          289|
|    10011|01-01-2022| iphone|North America| Third Party|         1,099|          289|
|    10012|01-01-2022|macbook|         APAC|Online Store|         1,299|          459|
|    10013|01-01-2022|   ipad|South America|    Referral|           599|          299|
|    10014|01-01-2022| iwatch|South America|Online Store|           449|          159|
|    10015|01-01-2022| airpod|South America|Online Store|           199|           39|
|    10016|04-01-2022| airpod|South America|    In-store|           199|           39|
|    10017|07-01-2022| airpod|         EMEA|Online Store|           199|           39|
|    10018|10-01-2022| iphone|North America|Online Store|          1099|          289|
|    10019|13-01-2022|macbook|         APAC|    In-store|         1,299|          459|
|    10020|16-01-2022|macbook|         APAC|    In-store|         1,299|          459|
|    10021|19-01-2022| airpod|         APAC|    In-store|           199|           39|
|    10022|22-01-2022| iphone|         EMEA|    In-store|          1099|          289|
|    10023|25-01-2022| iwatch|North America|    In-store|           449|          159|
|    10024|04-02-2022|   ipad|         APAC|    In-store|           599|          299|
|    10025|05-02-2022| iwatch|         APAC|    Referral|           449|          159|
|    10026|06-02-2022| iphone|         APAC|    Referral|          1099|          289|
|    10027|07-02-2022| iwatch|         EMEA| Third Party|           449|          159|
|    10028|08-02-2022| iphone|         APAC|    Referral|          1099|          289|
|    10029|08-02-2022|macbook|         APAC|    Referral|         1,299|          459|
+---------+----------+-------+-------------+------------+--------------+-------------+
only showing top 20 rows

In [15]:
# get columns names

df_pyspark.columns

['ID Number',
 'Date',
 'Product',
 'Region',
 'Sales Method',
 'Price per unit',
 'Cost per unit']

In [16]:
df_pyspark.head(5)

[Row(ID Number=10010, Date='01-01-2022', Product='iphone', Region='EMEA', Sales Method='In-store', Price per unit='1,099', Cost per unit=289),
 Row(ID Number=10011, Date='01-01-2022', Product='iphone', Region='North America', Sales Method='Third Party', Price per unit='1,099', Cost per unit=289),
 Row(ID Number=10012, Date='01-01-2022', Product='macbook', Region='APAC', Sales Method='Online Store', Price per unit='1,299', Cost per unit=459),
 Row(ID Number=10013, Date='01-01-2022', Product='ipad', Region='South America', Sales Method='Referral', Price per unit='599', Cost per unit=299),
 Row(ID Number=10014, Date='01-01-2022', Product='iwatch', Region='South America', Sales Method='Online Store', Price per unit='449', Cost per unit=159)]

In [17]:
# if we want only single column
df_pyspark.select("Product")

DataFrame[Product: string]

In [18]:
df_pyspark.select("Product").show()

+-------+
|Product|
+-------+
| iphone|
| iphone|
|macbook|
|   ipad|
| iwatch|
| airpod|
| airpod|
| airpod|
| iphone|
|macbook|
|macbook|
| airpod|
| iphone|
| iwatch|
|   ipad|
| iwatch|
| iphone|
| iwatch|
| iphone|
|macbook|
+-------+
only showing top 20 rows

In [19]:
#select multiple column 
df_pyspark.select(["ID NuMber","Product"]).show()

+---------+-------+
|ID NuMber|Product|
+---------+-------+
|    10010| iphone|
|    10011| iphone|
|    10012|macbook|
|    10013|   ipad|
|    10014| iwatch|
|    10015| airpod|
|    10016| airpod|
|    10017| airpod|
|    10018| iphone|
|    10019|macbook|
|    10020|macbook|
|    10021| airpod|
|    10022| iphone|
|    10023| iwatch|
|    10024|   ipad|
|    10025| iwatch|
|    10026| iphone|
|    10027| iwatch|
|    10028| iphone|
|    10029|macbook|
+---------+-------+
only showing top 20 rows

In [20]:
# know feature of column

df_pyspark['Product']

Column<'Product'>

In [21]:
# know data types
df_pyspark.dtypes

[('ID Number', 'int'),
 ('Date', 'string'),
 ('Product', 'string'),
 ('Region', 'string'),
 ('Sales Method', 'string'),
 ('Price per unit', 'string'),
 ('Cost per unit', 'int')]

In [22]:
df_pyspark.describe()

DataFrame[summary: string, ID Number: string, Date: string, Product: string, Region: string, Sales Method: string, Price per unit: string, Cost per unit: string]