Topics:
#Adding Columns
#Dropping Columns

In [3]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practice').getOrCreate()
spark
import pandas as pd
pd.read_csv("DummyData.csv")
df_pyspark = spark.read.csv("DummyData.csv")
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string]

In [5]:
df_pyspark.show()

+---------+----------+-------+-------------+------------+--------------+-------------+
|      _c0|       _c1|    _c2|          _c3|         _c4|           _c5|          _c6|
+---------+----------+-------+-------------+------------+--------------+-------------+
|ID Number|      Date|Product|       Region|Sales Method|Price per unit|Cost per unit|
|    10010|01-01-2022| iphone|         EMEA|    In-store|         1,099|          289|
|    10011|01-01-2022| iphone|North America| Third Party|         1,099|          289|
|    10012|01-01-2022|macbook|         APAC|Online Store|         1,299|          459|
|    10013|01-01-2022|   ipad|South America|    Referral|           599|          299|
|    10014|01-01-2022| iwatch|South America|Online Store|           449|          159|
|    10015|01-01-2022| airpod|South America|Online Store|           199|           39|
|    10016|04-01-2022| airpod|South America|    In-store|           199|           39|
|    10017|07-01-2022| airpod|         EMEA|Online Store|           199|           39|
|    10018|10-01-2022| iphone|North America|Online Store|          1099|          289|
|    10019|13-01-2022|macbook|         APAC|    In-store|         1,299|          459|
|    10020|16-01-2022|macbook|         APAC|    In-store|         1,299|          459|
|    10021|19-01-2022| airpod|         APAC|    In-store|           199|           39|
|    10022|22-01-2022| iphone|         EMEA|    In-store|          1099|          289|
|    10023|25-01-2022| iwatch|North America|    In-store|           449|          159|
|    10024|04-02-2022|   ipad|         APAC|    In-store|           599|          299|
|    10025|05-02-2022| iwatch|         APAC|    Referral|           449|          159|
|    10026|06-02-2022| iphone|         APAC|    Referral|          1099|          289|
|    10027|07-02-2022| iwatch|         EMEA| Third Party|           449|          159|
|    10028|08-02-2022| iphone|         APAC|    Referral|          1099|          289|
+---------+----------+-------+-------------+------------+--------------+-------------+
only showing top 20 rows

In [6]:
# by default it is showing String as a type of every column
# we need to give one option inferSchema = True
df_pyspark = spark.read.option('header','true').csv("DummyData.csv",inferSchema = True)
df_pyspark

DataFrame[ID Number: int, Date: string, Product: string, Region: string, Sales Method: string, Price per unit: string, Cost per unit: int]

In [7]:
df_pyspark = spark.read.csv("DummyData.csv",header = True,inferSchema=True)
df_pyspark.show()

+---------+----------+-------+-------------+------------+--------------+-------------+
|ID Number|      Date|Product|       Region|Sales Method|Price per unit|Cost per unit|
+---------+----------+-------+-------------+------------+--------------+-------------+
|    10010|01-01-2022| iphone|         EMEA|    In-store|         1,099|          289|
|    10011|01-01-2022| iphone|North America| Third Party|         1,099|          289|
|    10012|01-01-2022|macbook|         APAC|Online Store|         1,299|          459|
|    10013|01-01-2022|   ipad|South America|    Referral|           599|          299|
|    10014|01-01-2022| iwatch|South America|Online Store|           449|          159|
|    10015|01-01-2022| airpod|South America|Online Store|           199|           39|
|    10016|04-01-2022| airpod|South America|    In-store|           199|           39|
|    10017|07-01-2022| airpod|         EMEA|Online Store|           199|           39|
|    10018|10-01-2022| iphone|North America|Online Store|          1099|          289|
|    10019|13-01-2022|macbook|         APAC|    In-store|         1,299|          459|
|    10020|16-01-2022|macbook|         APAC|    In-store|         1,299|          459|
|    10021|19-01-2022| airpod|         APAC|    In-store|           199|           39|
|    10022|22-01-2022| iphone|         EMEA|    In-store|          1099|          289|
|    10023|25-01-2022| iwatch|North America|    In-store|           449|          159|
|    10024|04-02-2022|   ipad|         APAC|    In-store|           599|          299|
|    10025|05-02-2022| iwatch|         APAC|    Referral|           449|          159|
|    10026|06-02-2022| iphone|         APAC|    Referral|          1099|          289|
|    10027|07-02-2022| iwatch|         EMEA| Third Party|           449|          159|
|    10028|08-02-2022| iphone|         APAC|    Referral|          1099|          289|
|    10029|08-02-2022|macbook|         APAC|    Referral|         1,299|          459|
+---------+----------+-------+-------------+------------+--------------+-------------+
only showing top 20 rows

In [8]:
# get columns names

df_pyspark.columns

['ID Number',
 'Date',
 'Product',
 'Region',
 'Sales Method',
 'Price per unit',
 'Cost per unit']

In [9]:
df_pyspark.head(5)

[Row(ID Number=10010, Date='01-01-2022', Product='iphone', Region='EMEA', Sales Method='In-store', Price per unit='1,099', Cost per unit=289),
 Row(ID Number=10011, Date='01-01-2022', Product='iphone', Region='North America', Sales Method='Third Party', Price per unit='1,099', Cost per unit=289),
 Row(ID Number=10012, Date='01-01-2022', Product='macbook', Region='APAC', Sales Method='Online Store', Price per unit='1,299', Cost per unit=459),
 Row(ID Number=10013, Date='01-01-2022', Product='ipad', Region='South America', Sales Method='Referral', Price per unit='599', Cost per unit=299),
 Row(ID Number=10014, Date='01-01-2022', Product='iwatch', Region='South America', Sales Method='Online Store', Price per unit='449', Cost per unit=159)]

In [10]:
# if we want only single column
df_pyspark.select("Product")

DataFrame[Product: string]

In [11]:
df_pyspark.select("Product").show()

+-------+
|Product|
+-------+
| iphone|
| iphone|
|macbook|
|   ipad|
| iwatch|
| airpod|
| airpod|
| airpod|
| iphone|
|macbook|
|macbook|
| airpod|
| iphone|
| iwatch|
|   ipad|
| iwatch|
| iphone|
| iwatch|
| iphone|
|macbook|
+-------+
only showing top 20 rows

In [12]:
#select multiple column 
df_pyspark.select(["ID NuMber","Product"]).show()

+---------+-------+
|ID NuMber|Product|
+---------+-------+
|    10010| iphone|
|    10011| iphone|
|    10012|macbook|
|    10013|   ipad|
|    10014| iwatch|
|    10015| airpod|
|    10016| airpod|
|    10017| airpod|
|    10018| iphone|
|    10019|macbook|
|    10020|macbook|
|    10021| airpod|
|    10022| iphone|
|    10023| iwatch|
|    10024|   ipad|
|    10025| iwatch|
|    10026| iphone|
|    10027| iwatch|
|    10028| iphone|
|    10029|macbook|
+---------+-------+
only showing top 20 rows

In [13]:
# know feature of column

df_pyspark['Product']

Column<'Product'>

In [14]:
# know data types
df_pyspark.dtypes

[('ID Number', 'int'),
 ('Date', 'string'),
 ('Product', 'string'),
 ('Region', 'string'),
 ('Sales Method', 'string'),
 ('Price per unit', 'string'),
 ('Cost per unit', 'int')]

In [15]:
df_pyspark.describe()

DataFrame[summary: string, ID Number: string, Date: string, Product: string, Region: string, Sales Method: string, Price per unit: string, Cost per unit: string]

In [16]:
df_pyspark.describe().show() # similar as pandas

+-------+------------------+----------+-------+-------------+------------+-----------------+------------------+
|summary|         ID Number|      Date|Product|       Region|Sales Method|   Price per unit|     Cost per unit|
+-------+------------------+----------+-------+-------------+------------+-----------------+------------------+
|  count|                21|        21|     21|           21|          21|               21|                21|
|   mean|           10020.0|      null|   null|         null|        null|            619.0|249.95238095238096|
| stddev|6.2048368229954285|      null|   null|         null|        null|375.4996671103718|141.66526609951933|
|    min|             10010|01-01-2022| airpod|         APAC|    In-store|            1,099|                39|
|    max|             10030|25-01-2022|macbook|South America| Third Party|              599|               459|
+-------+------------------+----------+-------+-------------+------------+-----------------+------------------+

In [17]:
# adding columns and deleting columns
df_pyspark.withColumn("New Cost",df_pyspark["Cost Per unit"]*2).show()

+---------+----------+-------+-------------+------------+--------------+-------------+--------+
|ID Number|      Date|Product|       Region|Sales Method|Price per unit|Cost per unit|New Cost|
+---------+----------+-------+-------------+------------+--------------+-------------+--------+
|    10010|01-01-2022| iphone|         EMEA|    In-store|         1,099|          289|     578|
|    10011|01-01-2022| iphone|North America| Third Party|         1,099|          289|     578|
|    10012|01-01-2022|macbook|         APAC|Online Store|         1,299|          459|     918|
|    10013|01-01-2022|   ipad|South America|    Referral|           599|          299|     598|
|    10014|01-01-2022| iwatch|South America|Online Store|           449|          159|     318|
|    10015|01-01-2022| airpod|South America|Online Store|           199|           39|      78|
|    10016|04-01-2022| airpod|South America|    In-store|           199|           39|      78|
|    10017|07-01-2022| airpod|         EMEA|Online Store|           199|           39|      78|
|    10018|10-01-2022| iphone|North America|Online Store|          1099|          289|     578|
|    10019|13-01-2022|macbook|         APAC|    In-store|         1,299|          459|     918|
|    10020|16-01-2022|macbook|         APAC|    In-store|         1,299|          459|     918|
|    10021|19-01-2022| airpod|         APAC|    In-store|           199|           39|      78|
|    10022|22-01-2022| iphone|         EMEA|    In-store|          1099|          289|     578|
|    10023|25-01-2022| iwatch|North America|    In-store|           449|          159|     318|
|    10024|04-02-2022|   ipad|         APAC|    In-store|           599|          299|     598|
|    10025|05-02-2022| iwatch|         APAC|    Referral|           449|          159|     318|
|    10026|06-02-2022| iphone|         APAC|    Referral|          1099|          289|     578|
|    10027|07-02-2022| iwatch|         EMEA| Third Party|           449|          159|     318|
|    10028|08-02-2022| iphone|         APAC|    Referral|          1099|          289|     578|
|    10029|08-02-2022|macbook|         APAC|    Referral|         1,299|          459|     918|
+---------+----------+-------+-------------+------------+--------------+-------------+--------+
only showing top 20 rows

In [18]:
#deleting the columns
df_pyspark.drop("New Cost").show()

+---------+----------+-------+-------------+------------+--------------+-------------+
|ID Number|      Date|Product|       Region|Sales Method|Price per unit|Cost per unit|
+---------+----------+-------+-------------+------------+--------------+-------------+
|    10010|01-01-2022| iphone|         EMEA|    In-store|         1,099|          289|
|    10011|01-01-2022| iphone|North America| Third Party|         1,099|          289|
|    10012|01-01-2022|macbook|         APAC|Online Store|         1,299|          459|
|    10013|01-01-2022|   ipad|South America|    Referral|           599|          299|
|    10014|01-01-2022| iwatch|South America|Online Store|           449|          159|
|    10015|01-01-2022| airpod|South America|Online Store|           199|           39|
|    10016|04-01-2022| airpod|South America|    In-store|           199|           39|
|    10017|07-01-2022| airpod|         EMEA|Online Store|           199|           39|
|    10018|10-01-2022| iphone|North America|Online Store|          1099|          289|
|    10019|13-01-2022|macbook|         APAC|    In-store|         1,299|          459|
|    10020|16-01-2022|macbook|         APAC|    In-store|         1,299|          459|
|    10021|19-01-2022| airpod|         APAC|    In-store|           199|           39|
|    10022|22-01-2022| iphone|         EMEA|    In-store|          1099|          289|
|    10023|25-01-2022| iwatch|North America|    In-store|           449|          159|
|    10024|04-02-2022|   ipad|         APAC|    In-store|           599|          299|
|    10025|05-02-2022| iwatch|         APAC|    Referral|           449|          159|
|    10026|06-02-2022| iphone|         APAC|    Referral|          1099|          289|
|    10027|07-02-2022| iwatch|         EMEA| Third Party|           449|          159|
|    10028|08-02-2022| iphone|         APAC|    Referral|          1099|          289|
|    10029|08-02-2022|macbook|         APAC|    Referral|         1,299|          459|
+---------+----------+-------+-------------+------------+--------------+-------------+
only showing top 20 rows

In [19]:
# rename columns 
df_pyspark.withColumnRenamed("Cost Per Unit","Cost /Unit").show()

+---------+----------+-------+-------------+------------+--------------+----------+
|ID Number|      Date|Product|       Region|Sales Method|Price per unit|Cost /Unit|
+---------+----------+-------+-------------+------------+--------------+----------+
|    10010|01-01-2022| iphone|         EMEA|    In-store|         1,099|       289|
|    10011|01-01-2022| iphone|North America| Third Party|         1,099|       289|
|    10012|01-01-2022|macbook|         APAC|Online Store|         1,299|       459|
|    10013|01-01-2022|   ipad|South America|    Referral|           599|       299|
|    10014|01-01-2022| iwatch|South America|Online Store|           449|       159|
|    10015|01-01-2022| airpod|South America|Online Store|           199|        39|
|    10016|04-01-2022| airpod|South America|    In-store|           199|        39|
|    10017|07-01-2022| airpod|         EMEA|Online Store|           199|        39|
|    10018|10-01-2022| iphone|North America|Online Store|          1099|       289|
|    10019|13-01-2022|macbook|         APAC|    In-store|         1,299|       459|
|    10020|16-01-2022|macbook|         APAC|    In-store|         1,299|       459|
|    10021|19-01-2022| airpod|         APAC|    In-store|           199|        39|
|    10022|22-01-2022| iphone|         EMEA|    In-store|          1099|       289|
|    10023|25-01-2022| iwatch|North America|    In-store|           449|       159|
|    10024|04-02-2022|   ipad|         APAC|    In-store|           599|       299|
|    10025|05-02-2022| iwatch|         APAC|    Referral|           449|       159|
|    10026|06-02-2022| iphone|         APAC|    Referral|          1099|       289|
|    10027|07-02-2022| iwatch|         EMEA| Third Party|           449|       159|
|    10028|08-02-2022| iphone|         APAC|    Referral|          1099|       289|
|    10029|08-02-2022|macbook|         APAC|    Referral|         1,299|       459|
+---------+----------+-------+-------------+------------+--------------+----------+
only showing top 20 rows

# Pyspark Droping values

In [20]:
# Dropping columns 
# Dropping rows
# various parameter in Dropping functionalities

In [21]:
df_pyspark1 = spark.read.csv("DummyData12.csv",header=True,inferSchema = True)
df_pyspark1.show()

+---------+----------+-------+-------------+------------+--------------+-------------+
|ID Number|      Date|Product|       Region|Sales Method|Price per unit|Cost per unit|
+---------+----------+-------+-------------+------------+--------------+-------------+
|    10010|01-01-2022| iphone|         EMEA|    In-store|         1,099|          289|
|    10011|01-01-2022| iphone|North America| Third Party|         1,099|          289|
|    10012|01-01-2022|macbook|         APAC|Online Store|         1,299|          459|
|    10013|01-01-2022|   ipad|South America|    Referral|           599|          299|
|    10014|01-01-2022| iwatch|South America|Online Store|           449|          159|
|    10015|01-01-2022| airpod|South America|Online Store|           199|         null|
|    10016|04-01-2022| airpod|South America|    In-store|           199|           39|
|    10017|07-01-2022| airpod|         EMEA|Online Store|           199|           39|
|    10018|10-01-2022| iphone|North America|Online Store|          null|          289|
|    10019|13-01-2022|macbook|         APAC|    In-store|         1,299|          459|
|    10020|16-01-2022|macbook|         APAC|    In-store|         1,299|          459|
|    10021|19-01-2022| airpod|         APAC|    In-store|           199|           39|
|    10022|22-01-2022| iphone|         EMEA|    In-store|          null|          289|
|    10023|25-01-2022| iwatch|North America|    In-store|           449|          159|
|    10024|04-02-2022|   ipad|         APAC|    In-store|           599|          299|
|    10025|05-02-2022| iwatch|         APAC|    Referral|           449|          159|
|    10026|06-02-2022| iphone|         APAC|    Referral|          1099|         null|
|    10027|07-02-2022| iwatch|         EMEA| Third Party|           449|          159|
|    10028|08-02-2022| iphone|         APAC|    Referral|          1099|          289|
|    10029|08-02-2022|macbook|         APAC|    Referral|          null|          459|
+---------+----------+-------+-------------+------------+--------------+-------------+
only showing top 20 rows

In [27]:
df_pyspark.describe()

DataFrame[summary: string, ID Number: string, Date: string, Product: string, Region: string, Sales Method: string, Price per unit: string, Cost per unit: string]

In [28]:
# drop columns 
df_pyspark.drop("Sales Method").show()

+---------+----------+-------+-------------+--------------+-------------+
|ID Number|      Date|Product|       Region|Price per unit|Cost per unit|
+---------+----------+-------+-------------+--------------+-------------+
|    10010|01-01-2022| iphone|         EMEA|         1,099|          289|
|    10011|01-01-2022| iphone|North America|         1,099|          289|
|    10012|01-01-2022|macbook|         APAC|         1,299|          459|
|    10013|01-01-2022|   ipad|South America|           599|          299|
|    10014|01-01-2022| iwatch|South America|           449|          159|
|    10015|01-01-2022| airpod|South America|           199|           39|
|    10016|04-01-2022| airpod|South America|           199|           39|
|    10017|07-01-2022| airpod|         EMEA|           199|           39|
|    10018|10-01-2022| iphone|North America|          1099|          289|
|    10019|13-01-2022|macbook|         APAC|         1,299|          459|
|    10020|16-01-2022|macbook|         APAC|         1,299|          459|
|    10021|19-01-2022| airpod|         APAC|           199|           39|
|    10022|22-01-2022| iphone|         EMEA|          1099|          289|
|    10023|25-01-2022| iwatch|North America|           449|          159|
|    10024|04-02-2022|   ipad|         APAC|           599|          299|
|    10025|05-02-2022| iwatch|         APAC|           449|          159|
|    10026|06-02-2022| iphone|         APAC|          1099|          289|
|    10027|07-02-2022| iwatch|         EMEA|           449|          159|
|    10028|08-02-2022| iphone|         APAC|          1099|          289|
|    10029|08-02-2022|macbook|         APAC|         1,299|          459|
+---------+----------+-------+-------------+--------------+-------------+
only showing top 20 rows