In [1]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practice').getOrCreate()
spark
import pandas as pd
pd.read_csv("DummyData.csv")
df_pyspark = spark.read.csv("DummyData.csv")
df_pyspark1 = spark.read.csv("DummyData12.csv",header=True,inferSchema = True)
df_pyspark1.show()

+---------+----------+-------+-------------+------------+--------------+-------------+
|ID Number|      Date|Product|       Region|Sales Method|Price per unit|Cost per unit|
+---------+----------+-------+-------------+------------+--------------+-------------+
|    10010|01-01-2022| iphone|         EMEA|    In-store|         1,099|          289|
|    10011|01-01-2022| iphone|North America| Third Party|         1,099|          289|
|    10012|01-01-2022|macbook|         APAC|Online Store|         1,299|          459|
|    10013|01-01-2022|   ipad|South America|    Referral|           599|          299|
|    10014|01-01-2022| iwatch|South America|Online Store|           449|          159|
|    10015|01-01-2022| airpod|South America|Online Store|           199|         null|
|    10016|04-01-2022| airpod|South America|    In-store|           199|           39|
|    10017|07-01-2022| airpod|         EMEA|Online Store|           199|           39|
|    10018|10-01-2022| iphone|North America|Online Store|          null|          289|
|    10019|13-01-2022|macbook|         APAC|    In-store|         1,299|          459|
|    10020|16-01-2022|macbook|         APAC|    In-store|         1,299|          459|
|    10021|19-01-2022| airpod|         APAC|    In-store|           199|           39|
|    10022|22-01-2022| iphone|         EMEA|    In-store|          null|          289|
|    10023|25-01-2022| iwatch|North America|    In-store|           449|          159|
|    10024|04-02-2022|   ipad|         APAC|    In-store|           599|          299|
|    10025|05-02-2022| iwatch|         APAC|    Referral|           449|          159|
|    10026|06-02-2022| iphone|         APAC|    Referral|          1099|         null|
|    10027|07-02-2022| iwatch|         EMEA| Third Party|           449|          159|
|    10028|08-02-2022| iphone|         APAC|    Referral|          1099|          289|
|    10029|08-02-2022|macbook|         APAC|    Referral|          null|          459|
+---------+----------+-------+-------------+------------+--------------+-------------+
only showing top 20 rows

In [2]:
# drop row based on the row values 
df_pyspark1.na.drop().show()

+---------+----------+-------+-------------+------------+--------------+-------------+
|ID Number|      Date|Product|       Region|Sales Method|Price per unit|Cost per unit|
+---------+----------+-------+-------------+------------+--------------+-------------+
|    10010|01-01-2022| iphone|         EMEA|    In-store|         1,099|          289|
|    10011|01-01-2022| iphone|North America| Third Party|         1,099|          289|
|    10012|01-01-2022|macbook|         APAC|Online Store|         1,299|          459|
|    10013|01-01-2022|   ipad|South America|    Referral|           599|          299|
|    10014|01-01-2022| iwatch|South America|Online Store|           449|          159|
|    10016|04-01-2022| airpod|South America|    In-store|           199|           39|
|    10017|07-01-2022| airpod|         EMEA|Online Store|           199|           39|
|    10019|13-01-2022|macbook|         APAC|    In-store|         1,299|          459|
|    10020|16-01-2022|macbook|         APAC|    In-store|         1,299|          459|
|    10021|19-01-2022| airpod|         APAC|    In-store|           199|           39|
|    10023|25-01-2022| iwatch|North America|    In-store|           449|          159|
|    10024|04-02-2022|   ipad|         APAC|    In-store|           599|          299|
|    10025|05-02-2022| iwatch|         APAC|    Referral|           449|          159|
|    10027|07-02-2022| iwatch|         EMEA| Third Party|           449|          159|
|    10028|08-02-2022| iphone|         APAC|    Referral|          1099|          289|
|    10030|08-02-2022| iphone|         APAC|Online Store|          1099|          289|
+---------+----------+-------+-------------+------------+--------------+-------------+

In [3]:
# drop(how = 'any',thresh = None, subset = None)
# any = how 
# how can contain 'any' or 'all'
# if 'any' drop a row if it contains any nulls
# if 'all' drop a row only if all its values are null
df_pyspark1.na.drop(how='all').show() #if all are null values 
df_pyspark1.na.drop(how = 'any').show()

+---------+----------+-------+-------------+------------+--------------+-------------+
|ID Number|      Date|Product|       Region|Sales Method|Price per unit|Cost per unit|
+---------+----------+-------+-------------+------------+--------------+-------------+
|    10010|01-01-2022| iphone|         EMEA|    In-store|         1,099|          289|
|    10011|01-01-2022| iphone|North America| Third Party|         1,099|          289|
|    10012|01-01-2022|macbook|         APAC|Online Store|         1,299|          459|
|    10013|01-01-2022|   ipad|South America|    Referral|           599|          299|
|    10014|01-01-2022| iwatch|South America|Online Store|           449|          159|
|    10015|01-01-2022| airpod|South America|Online Store|           199|         null|
|    10016|04-01-2022| airpod|South America|    In-store|           199|           39|
|    10017|07-01-2022| airpod|         EMEA|Online Store|           199|           39|
|    10018|10-01-2022| iphone|North America|Online Store|          null|          289|
|    10019|13-01-2022|macbook|         APAC|    In-store|         1,299|          459|
|    10020|16-01-2022|macbook|         APAC|    In-store|         1,299|          459|
|    10021|19-01-2022| airpod|         APAC|    In-store|           199|           39|
|    10022|22-01-2022| iphone|         EMEA|    In-store|          null|          289|
|    10023|25-01-2022| iwatch|North America|    In-store|           449|          159|
|    10024|04-02-2022|   ipad|         APAC|    In-store|           599|          299|
|    10025|05-02-2022| iwatch|         APAC|    Referral|           449|          159|
|    10026|06-02-2022| iphone|         APAC|    Referral|          1099|         null|
|    10027|07-02-2022| iwatch|         EMEA| Third Party|           449|          159|
|    10028|08-02-2022| iphone|         APAC|    Referral|          1099|          289|
|    10029|08-02-2022|macbook|         APAC|    Referral|          null|          459|
+---------+----------+-------+-------------+------------+--------------+-------------+
only showing top 20 rows

+---------+----------+-------+-------------+------------+--------------+-------------+
|ID Number|      Date|Product|       Region|Sales Method|Price per unit|Cost per unit|
+---------+----------+-------+-------------+------------+--------------+-------------+
|    10010|01-01-2022| iphone|         EMEA|    In-store|         1,099|          289|
|    10011|01-01-2022| iphone|North America| Third Party|         1,099|          289|
|    10012|01-01-2022|macbook|         APAC|Online Store|         1,299|          459|
|    10013|01-01-2022|   ipad|South America|    Referral|           599|          299|
|    10014|01-01-2022| iwatch|South America|Online Store|           449|          159|
|    10016|04-01-2022| airpod|South America|    In-store|           199|           39|
|    10017|07-01-2022| airpod|         EMEA|Online Store|           199|           39|
|    10019|13-01-2022|macbook|         APAC|    In-store|         1,299|          459|
|    10020|16-01-2022|macbook|         APAC|    In-store|         1,299|          459|
|    10021|19-01-2022| airpod|         APAC|    In-store|           199|           39|
|    10023|25-01-2022| iwatch|North America|    In-store|           449|          159|
|    10024|04-02-2022|   ipad|         APAC|    In-store|           599|          299|
|    10025|05-02-2022| iwatch|         APAC|    Referral|           449|          159|
|    10027|07-02-2022| iwatch|         EMEA| Third Party|           449|          159|
|    10028|08-02-2022| iphone|         APAC|    Referral|          1099|          289|
|    10030|08-02-2022| iphone|         APAC|Online Store|          1099|          289|
+---------+----------+-------+-------------+------------+--------------+-------------+

In [4]:
#thresh hold
#thresh = 2 # atleast 2 non null value should be present 

df_pyspark1.na.drop(how = 'any',thresh = 2).show()

+---------+----------+-------+-------------+------------+--------------+-------------+
|ID Number|      Date|Product|       Region|Sales Method|Price per unit|Cost per unit|
+---------+----------+-------+-------------+------------+--------------+-------------+
|    10010|01-01-2022| iphone|         EMEA|    In-store|         1,099|          289|
|    10011|01-01-2022| iphone|North America| Third Party|         1,099|          289|
|    10012|01-01-2022|macbook|         APAC|Online Store|         1,299|          459|
|    10013|01-01-2022|   ipad|South America|    Referral|           599|          299|
|    10014|01-01-2022| iwatch|South America|Online Store|           449|          159|
|    10015|01-01-2022| airpod|South America|Online Store|           199|         null|
|    10016|04-01-2022| airpod|South America|    In-store|           199|           39|
|    10017|07-01-2022| airpod|         EMEA|Online Store|           199|           39|
|    10018|10-01-2022| iphone|North America|Online Store|          null|          289|
|    10019|13-01-2022|macbook|         APAC|    In-store|         1,299|          459|
|    10020|16-01-2022|macbook|         APAC|    In-store|         1,299|          459|
|    10021|19-01-2022| airpod|         APAC|    In-store|           199|           39|
|    10022|22-01-2022| iphone|         EMEA|    In-store|          null|          289|
|    10023|25-01-2022| iwatch|North America|    In-store|           449|          159|
|    10024|04-02-2022|   ipad|         APAC|    In-store|           599|          299|
|    10025|05-02-2022| iwatch|         APAC|    Referral|           449|          159|
|    10026|06-02-2022| iphone|         APAC|    Referral|          1099|         null|
|    10027|07-02-2022| iwatch|         EMEA| Third Party|           449|          159|
|    10028|08-02-2022| iphone|         APAC|    Referral|          1099|          289|
|    10029|08-02-2022|macbook|         APAC|    Referral|          null|          459|
+---------+----------+-------+-------------+------------+--------------+-------------+
only showing top 20 rows